.vik{
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;    

}
.fix{
    position: fixed;
    top: 30px;
    left: 50px;
}

.one{
    padding: 40px 100px;
    background-color: whitesmoke;

    border: 1px solid white;
    
}
.wave{
    color: rgb(3, 119, 119);
    font-family: 'Arial';
    font-weight: 500px;
    font-size: 50px;
}
.nextsec{
    display: flex;
    animation: fadeEffect 1s;
}
.nextsectext{
    font-size: 35px;
    /* border: 1px solid whitesmoke ; */
    background-color: white;
    
    /* color: white; */
    color:  rgb(3, 119, 119) ;
    margin: 10px;
    padding: 20px 50px;
    text-align: center;
}
.nextsectext:hover{
    background-color: rgb(3, 119, 119);
    color: whitesmoke;
}

.nextsec2:hover{
    background-color: rgb(3, 119, 119);
    color: whitesmoke;
}
.nextsec3:hover{
    background-color: rgb(3, 119, 119);
    color: whitesmoke;
    animation: fadeEffect 1s;
}
.nextsec1:hover{
    background-color: rgb(3, 119, 119);
    color: whitesmoke;
    animation: fadeEffect 1s;
}
.nextsec2{
     font-size: 35px;
    /* border: 1px solid white ; */
    background-color: white;
    color:  rgb(3, 119, 119) ;
    margin: 10px;
    padding: 20px 50px;
    text-align: center;
    animation: fadeEffect 1s;

}
.nextsec3{
    font-size: 35px;
    background-color: white;
    color:  rgb(3, 119, 119) ;
    margin: 10px;
    padding: 20px 57px;
    text-align: center;
    animation: fadeEffect 1s;

}
.nextsec1{
    font-size: 35px;
    background-color: white;
    color:  rgb(3, 119, 119) ;
    margin: 10px;
    padding: 20px 47px;
    text-align: center;

}
.uni{
    margin-left: 15px;
    font-size: 20px;
    animation: fadeEffect 1s;
}
.scroll-bar{
    display: flex;
    position:absolute;
    top: 30px;
    left: 600px;

}
li{
    list-style-type: none;
    padding: 15px 80px 15px 30px;
    color:aqua;
    font-size: 25px;
    background-color: rgb(0, 0,0, 0.6);
}
.all.tm{
    overflow-y: scroll;
    
}
nav{

    padding-right: 20px;
    

}
.iced-tm{
    animation: fadeEffect 1s;
    
}
.framework{
    top: 120px;
    left: 633px;
    position: absolute;
    overflow-y: hidden;
    animation: fadeEffect 1s;
   

}
li:hover{
    border-bottom: 2px solid aqua;


}
a{
    text-decoration: none;
   ;

    
}
.frist-tm{
    display: flex;
    margin: 15px 0px;
   
}
.second-tm{
    background-color: rgb(0, 0,0, 0.6) ;
    margin: 0px 30px;
    /* margin: 20px; */

}
.second-tm1{
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    margin: 10px 20px;
}
.secondflex{
    color: aqua;
}
/* .bottom{
    border-bottom: 3px solid aqua;
    border-width: 0%;
    

} */
.twist{
    /* transition:2s ease-out; */
    transition: all 0.5s ease-in 0s;
}
.second-tm2{
    color: whitesmoke;
    margin:10px 20px;
}
.foot{
    position: absolute;
    left: 20px;
    top: 900px;
    color: whitesmoke;
    padding: 5px 15px;
    background-color: rgb(0, 0, 0,0.6);
}
@keyframes fadeEffect {
    from { opacity: 0.3; }
    to { opacity: 1; }
}
.dual{
    display: flex;
    padding: 10px 0px;
    margin: 0px;
    animation: fadeEffect 1s;

}
.dual1{
    display: flex;
    padding: 10px 0px;
    margin: 0px;
    animation: fadeEffect 1s;

}
.uppart{
    background-color: rgb(0,0,0,0.6);
    padding: 20px;
    margin: 20px 0px;
    overflow-y: hidden;
    animation: fadeEffect 1s;
}
.headings{
    color: aqua;
    text-align: center;
    padding: 10px;
    font-size: 20px;


}
.heading{
    color: aqua;
    padding-top: 20px;
    font-size: 20px;
    margin-left: 5px;
}
.text2{
    color: white;
    font-size: 20px;

}
.text{
    color: white;
    padding: 10px;
    font-size: 20px;
}
.wordings{
    background-color: rgb(0, 0,0, 0.6);
    animation: fadeEffect 1s;
    padding: 15px;
}
.up{
    margin-left: 35px;
    color: aqua;
}
.down{
    margin-left: 35px;
    margin-right: 35px;
    color: whitesmoke;
    font-size: 20px;
}
.form{
    background-color: rgb(0, 0,0, 0.6);
    margin: 5px 0px 0px 180px;
    /* overflow: hidden; */
    overflow: unset;
    animation: fadeEffect 1s;
    
}
iframe{
        height: 800px;
        width: 700px;
    }
.orange{
    background-color: rgb(0, 0,0, 0.6);
    animation: fadeEffect 1s;
    width: fit-content;
    margin-right: 364px;
    padding-bottom: 10px;
}
.orange2{
    background-color: rgb(0, 0,0, 0.6);
    animation: fadeEffect 1s;
    width: fit-content;
    margin-right: 364px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.orangetext{
    color: whitesmoke;
    font-size: 20px;
    margin: 30px 30px;
   
}
.orangehead{
    color: rgb(6, 158, 158);
    margin-left: 30px;
}
/* Responsiveness Begins */

/* #step1- fixing all screen resolutions for the video */

@media(max-width:1317px){
    .vik{
        position:fixed;
        width: 100%;
        height: 110vh;
        object-fit: cover;
        z-index: -1;    
    
    }
    .fix{
        position: relative;
    }
    .all.tm{
        position: relative;
    }
    .scroll-bar{
    display: flex;
    position:absolute;
    top: 470px;
    left: 10px;

}
.framework{
    top: 550px;
    left: 35px;
}
.foot{
    top: 1300px;
}
.one{
    padding: 40px 100px;
    margin-left: 10px;
    width: fit-content;
    background-color: whitesmoke;

    border: 1px solid white;
    
}

}
@media(max-width:785px){
    .foot{
        top: 1400px;
    }
    .vik{
        position:fixed;
        width: 100%;
        height: 150vh;
        object-fit: cover;
        z-index: -1;    
    
    }
    .framework{
        top: 550px;
        margin-top: 30px;
        left: 35px;
    }
    .single{
        margin: 0px;
        padding: 0px;
    }
    .bottom{
        margin: 0px;
    }
}
@media(max-width:544px){
    .nextsec{
        display: block;
    }
    .scroll-bar{
        display: flex;
        position:absolute;
        top: 630px;
        left: 10px;
    
    }
    .framework{
        top: 550px;
        margin-top: 200px;
        left: 35px;
    }
    .vik{
        position:fixed;
        width: 100%;
        height: 200vh;
        object-fit: cover;
        z-index: -1;    
    
    }
    .one{
        display: block;
        padding: 20px 180px 20px 140px;
    }
    .wave{
        color: rgb(3, 119, 119);
        font-family: 'Arial';
        font-weight: 100px;
        font-size: 30px;
    }
    .foot{
        top: 1600px;
    }
}
@media(max-width:526px){
    .nextsec{
        display: block;
    }
    .scroll-bar{
        display: flex;
        position:absolute;
        top: 630px;
        left: 10px;
    
    }
    .framework{
        top: 550px;
        margin-top: 200px;
        left: 35px;
    }
    .one{
        display: block;
        padding: 20px 180px 20px 120px;
        /* width: 100%; */
    }
    .wave{
        color: rgb(3, 119, 119);
        font-family: 'Arial';
        font-weight: 100px;
        font-size: 30px;
    }
    .foot{
        top: 1700px;
    }
}
@media(max-width:506px){
    .nextsec{
        display: block;
    }
    .scroll-bar{
        display: flex;
        position:absolute;
        top: 630px;
        left: 10px;
    
    }
    .framework{
        top: 550px;
        margin-top: 200px;
        left: 35px;
    }
    .vik{
        position:fixed;
        width: 100%;
        height: 300vh;
        object-fit: cover;
        z-index: -1;    
    
    }
    .one{
        display: block;
        padding: 20px 180px 20px 100px;
    }
    .wave{
        color: rgb(3, 119, 119);
        font-family: 'Arial';
        font-weight: 100px;
        font-size: 30px;
    }
    .foot{
        top: 1700px;
    }
}
@media(max-width:486px){
    .nextsec{
        display: block;
    }
    .scroll-bar{
        display: flex;
        position:absolute;
        top: 630px;
        left: 10px;
    
    }
    .framework{
        top: 550px;
        margin-top: 200px;
        left: 35px;
    }
    .one{
        display: block;
        padding: 20px 150px 20px 90px;
    }
    .wave{
        color: rgb(3, 119, 119);
        font-family: 'Arial';
        font-weight: 100px;
        font-size: 30px;
    }
    .foot{
        top: 1700px;
    }
}

@media(max-width:446px){
    .nextsec{
        display: block;
    }
    .scroll-bar{
        display: flex;
        position:absolute;
        top: 630px;
        left: 10px;
    
    }
    .framework{
        top: 550px;
        margin-top: 200px;
        left: 35px;
    }
    .one{
        display: block;
        padding: 20px 120px 20px 90px;
    }
    .wave{
        color: rgb(3, 119, 119);
        font-family: 'Arial';
        font-weight: 100px;
        font-size: 30px;
    }
    .foot{
        top: 1700px;
    }
}
@media(max-width:425px){
    .nextsec{
        display: block;
    }
    .scroll-bar{
        display: flex;
        position:absolute;
        top: 630px;
        left: 10px;
    
    }
    .framework{
        top: 550px;
        margin-top: 200px;
        left: 35px;
    }
    .one{
        display: block;
        padding: 20px 100px 20px 90px;
    }
    .wave{
        color: rgb(3, 119, 119);
        font-family: 'Arial';
        font-weight: 100px;
        font-size: 30px;
    }
    .foot{
        top: 1700px;
    }
}

@media(max-width:396px){
    .nextsec{
        display: block;
    }
    .scroll-bar{
        display: flex;
        position:absolute;
        top: 630px;
        left: 10px;
    
    }
    .framework{
        top: 550px;
        margin-top: 200px;
        left: 35px;
    }
    .one{
        display: block;
        padding: 20px 90px 20px 80px;
    }
    .wave{
        color: rgb(3, 119, 119);
        font-family: 'Arial';
        font-weight: 100px;
        font-size: 30px;
    }
    .foot{
        top: 1500px;
    }
}
@media(max-width:387px){
    .nextsec{
        display: block;
    }
    .scroll-bar{
        display: flex;
        position:absolute;
        top: 630px;
        left: 10px;
    
    }
    .framework{
        top: 550px;
        margin-top: 200px;
        left: 35px;
    }
    .one{
        display: block;
        padding: 20px 80px 20px 70px;
    }
    .wave{
        color: rgb(3, 119, 119);
        font-family: 'Arial';
        font-weight: 100px;
        font-size: 30px;
    }
    .foot{
        top: 1700px;
    }
}

@media(max-width:359px){
    .nextsec{
        display: block;
    }
    .scroll-bar{
        display: flex;
        position:absolute;
        top: 630px;
        left: 10px;
    
    }
    .framework{
        top: 550px;
        margin-top: 200px;
        left: 35px;
    }
    .one{
        display: block;
        padding: 20px 70px 20px 50px;
    }
    .wave{
        color: rgb(3, 119, 119);
        font-family: 'Arial';
        font-weight: 100px;
        font-size: 30px;
    }
    .foot{
        top: 1700px;
    }
}







