.vik{
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;    

}
.fix{
    position: fixed;
    top: 30px;
    left: 50px;
}

.one{
    padding: 40px 100px;
    background-color: whitesmoke;

    border: 1px solid white;
    
}
.wave{
    color: rgb(3, 119, 119);
    font-family: 'Arial';
    font-weight: 500px;
    font-size: 50px;
}
.nextsec{
    display: flex;
    animation: fadeEffect 1s;
}
.nextsectext{
    font-size: 35px;
    /* border: 1px solid whitesmoke ; */
    background-color: white;
    
    /* color: white; */
    color:  rgb(3, 119, 119) ;
    margin: 10px;
    padding: 20px 50px;
    text-align: center;
}
.nextsectext:hover{
    background-color: rgb(3, 119, 119);
    color: whitesmoke;
}

.nextsec2:hover{
    background-color: rgb(3, 119, 119);
    color: whitesmoke;
}
.nextsec3:hover{
    background-color: rgb(3, 119, 119);
    color: whitesmoke;
    animation: fadeEffect 1s;
}
.nextsec1:hover{
    background-color: rgb(3, 119, 119);
    color: whitesmoke;
    animation: fadeEffect 1s;
}
.nextsec2{
     font-size: 35px;
    /* border: 1px solid white ; */
    background-color: white;
    color:  rgb(3, 119, 119) ;
    margin: 10px;
    padding: 20px 50px;
    text-align: center;
    animation: fadeEffect 1s;

}
.nextsec3{
    font-size: 35px;
    background-color: white;
    color:  rgb(3, 119, 119) ;
    margin: 10px;
    padding: 20px 57px;
    text-align: center;
    animation: fadeEffect 1s;

}
.nextsec1{
    font-size: 35px;
    background-color: white;
    color:  rgb(3, 119, 119) ;
    margin: 10px;
    padding: 20px 47px;
    text-align: center;

}
.uni{
    margin-left: 15px;
    font-size: 20px;
    animation: fadeEffect 1s;
}
.scroll-bar{
    display: flex;
    position:absolute;
    top: 30px;
    left: 600px;

}
li{
    list-style-type: none;
    padding: 15px 80px 15px 30px;
    color:aqua;
    font-size: 25px;
    background-color: rgb(0, 0,0, 0.6);
}
.all.tm{
    overflow-y: scroll;
    
}
nav{

    padding-right: 20px;
    

}
.iced-tm{
    animation: fadeEffect 1s;
    
}
.framework{
    top: 120px;
    left: 633px;
    position: absolute;
    overflow-y: hidden;
    animation: fadeEffect 1s;
   

}
li:hover{
    border-bottom: 2px solid aqua;


}
a{
    text-decoration: none;
   ;

    
}
.frist-tm{
    display: flex;
    margin: 15px 0px;
   
}
.second-tm{
    background-color: rgb(0, 0,0, 0.6) ;
    margin: 0px 30px;
    /* margin: 20px; */

}
.second-tm1{
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    margin: 10px 20px;
}
.secondflex{
    color: aqua;
}
/* .bottom{
    border-bottom: 3px solid aqua;
    border-width: 0%;
    

} */
.twist{
    /* transition:2s ease-out; */
    transition: all 0.5s ease-in 0s;
}
.second-tm2{
    color: whitesmoke;
    margin:10px 20px;
}
.foot{
    position: absolute;
    left: 20px;
    top: 900px;
    color: whitesmoke;
    padding: 5px 15px;
    background-color: rgb(0, 0, 0,0.6);
}
@keyframes fadeEffect {
    from { opacity: 0.3; }
    to { opacity: 1; }
}
.dual{
    display: flex;
    padding: 10px 0px;
    margin: 0px;
    animation: fadeEffect 1s;

}
.dual1{
    display: flex;
    padding: 10px 0px;
    margin: 0px;
    animation: fadeEffect 1s;

}
.uppart{
    background-color: rgb(0,0,0,0.6);
    padding: 20px;
    margin: 20px 0px;
    overflow-y: hidden;
    animation: fadeEffect 1s;
}
.headings{
    color: aqua;
    text-align: center;
    padding: 10px;
    font-size: 20px;


}
.heading{
    color: aqua;
    padding-top: 20px;
    font-size: 20px;
    margin-left: 5px;
}
.text2{
    color: white;
    font-size: 20px;

}
.text{
    color: white;
    padding: 10px;
    font-size: 20px;
}
.wordings{
    background-color: rgb(0, 0,0, 0.6);
    animation: fadeEffect 1s;
    padding: 15px;
}
.up{
    margin-left: 35px;
    color: aqua;
}
.down{
    margin-left: 35px;
    margin-right: 35px;
    color: whitesmoke;
    font-size: 20px;
}
.form{
    background-color: rgb(0, 0,0, 0.6);
    margin: 5px 0px 0px 180px;
    /* overflow: hidden; */
    overflow: unset;
    animation: fadeEffect 1s;
    
}
iframe{
        height: 800px;
        width: 700px;
    }
.orange{
    background-color: rgb(0, 0,0, 0.6);
    animation: fadeEffect 1s;
    width: fit-content;
    margin-right: 364px;
    padding-bottom: 10px;
}
.orange2{
    background-color: rgb(0, 0,0, 0.6);
    animation: fadeEffect 1s;
    width: fit-content;
    margin-right: 364px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.dropdown{
    display: none;
}
.orangetext{
    color: whitesmoke;
    font-size: 20px;
    margin: 30px 30px;
   
}
.orangehead{
    color: rgb(6, 158, 158);
    margin-left: 30px;
}
/* Responsiveness Begins */

/* #step1- fixing all screen resolutions for the video */

@media(max-width:1344px){
    .vik{
        position: fixed;
        width: 100%;
        height: 110vh;
        object-fit: cover;
        z-index: -1;    
    
    }

}

@media(max-width:1297px){
    .inite{
        display: none;
    }
    .dropbtn {
        /* background-color: #4CAF50; */
        /* color: white; */
        /* padding: 16px; */
        /* font-size: 16px; */
        position: absolute;
        top:20px;
        left: 640px;
        border: none;
        cursor: pointer;
      }
      .nextsec{
        display: block;
        animation: fadeEffect 1s;
    }
      
      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        /* display: inline-flex; */
        top:620px;
        position: fixed;
        /* background-color: #f9f9f9; */
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        /* color: black; */
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #e3f791}
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: inline-block;
      }
      
      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {
        background-color: #3e8e41;
      }
    

}


@media(max-width:1219px){
    .vik{
        position: fixed;
        width: 100%;
        height: 120vh;
        object-fit: cover;
        z-index: -1;    
    
    }

}
@media(max-width:1112px){
    .vik{
        position: fixed;
        width: 100%;
        height: 140vh;
        object-fit: cover;
        z-index: -1;    
    
    }

}
@media(max-width:965px){
    .vik{
        position: fixed;
        width: 100%;
        height: 170vh;
        object-fit: cover;
        z-index: -1;    
    
    }

}
@media(max-width:786px){
    .vik{
        position: fixed;
        width: 100%;
        height: 200vh;
        object-fit: cover;
        z-index: -1;    
    
    }

}
@media(max-width:768px){
    .vik{
        position: fixed;
        width: 100%;
        height: 200vh;
        object-fit: cover;
        z-index: -1;    
    
    }
   
    .foot{
        position: absolute;
        left: 20px;
        top: 1100px;
        color: whitesmoke;
        padding: 5px 15px;
        background-color: rgb(0, 0, 0,0.6);
    }
    iframe{
        height: 400px;
    }
    .image{
        text-align: center;
        image-resolution: 500px;
    }
    .framework{
        top: 700px;
        left: 300px;
        position:absolute;
        overflow-y: hidden;
        animation: fadeEffect 1s;
        z-index: -1;

    }
    .fix{
        margin-left: 250px;
    }
    .dropdown-content {
        /* display: inline-flex; */
        top:120px;
        position: fixed;
        /* background-color: #f9f9f9; */
        min-width: 100px;
        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
        z-index: 1;
      }
      .dropbtn {
        /* background-color: #4CAF50; */
        /* color: white; */
        /* padding: 16px; */
        /* font-size: 16px; */
        position: absolute;
        top:20px;
        left: 40px;
        border: none;
        cursor: pointer;
      }

}
@media(max-width:672px){
    .vik{
        position: fixed;
        width: 100%;
        height: 230vh;
        object-fit: cover;
        z-index: -1;    
    
    }
    .framework{
        top: 720px;
        left: 300px;
        position:absolute;
        overflow-y: hidden;
        animation: fadeEffect 1s;
        z-index: -1;

    }
    .foot{
        position: absolute;
        left: 20px;
        top: 1200px;
        color: whitesmoke;
        padding: 5px 15px;
        background-color: rgb(0, 0, 0,0.6);
    }

}
@media(max-width:587px){
    .vik{
        position: fixed;
        width: 100%;
        height: 270vh;
        object-fit: cover;
        z-index: -1;    
    
    }

}
@media(max-width:497px){
    .vik{
        position: fixed;
        width: 100%;
        height: 350vh;
        object-fit: cover;
        z-index: -1;    
    
    }

}
@media(max-width:377px){
    .vik{
        position: fixed;
        width: 100%;
        height: 400vh;
        object-fit: cover;
        z-index: -1;    
    
    }

}
@media(max-width:1317px){
    .scroll-bar{
        display: flex;
        position:absolute;
        top: 20px;
        left:580px;
    
    }
    

}






